:root {
  /*
    by defining the sizes of toolbar and side menu in a var,
    can do calculations with them later
  */
  --toolbar-height: 64px;
}

.toolbarContainer {
  position: absolute;
  top: 0;
  height: var(--toolbar-height);
  width: 100%;
  z-index: 1; /* put in font of background elements */
}

.toolbar {
  position:relative;
  height: 100%;
  background-color: #1976d2;
  color: #fff;
  padding-left: 3%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.toolbarLinks {
  display: flex;
  flex-direction: row;
  margin-right: 4%;
}